@model CourseDetailVM

<head>
    <link rel="stylesheet" href="~/css/coursedetails.css" />
</head>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@Model.Course.Name</h2>

            <!-- Display course start and end dates -->
            <p><strong>Start Date:</strong> @Model.Course.StartDate.ToString("MMMM d, yyyy")</p>
            <p><strong>End Date:</strong> @Model.Course.EndDate.ToString("MMMM d, yyyy")</p>

            <!-- Display course status -->
            <p><strong>Status:</strong> @(Model.Course.Status)</p>

            <!-- Display course term -->
            <p><strong>Term:</strong> @Model.Course.Term.Name</p>

            <!-- Display course status -->
            <p><strong>Status:</strong> @(Model.Course.Status)</p>

            <!-- Display course description -->
            <p>@Html.Raw(@Model.Course.Description)</p>

            <hr />
            <h3>Course Items</h3>

            @if (Model.CourseItems != null && Model.CourseItems.Any())
            {
                <ul class="list-group">
                    @foreach (var item in Model.CourseItems)
                    {
                        <li class="list-group-item @(item.DueDate.HasValue && item.DueDate < DateTime.Now ? "list-group-item-danger" : "") @(item.IsCompleted ? "list-group-item-success" : "")">
                            <h5>
                                <input type="checkbox" class="form-check-input" id="itemCheckbox_@item.Id" @(item.IsCompleted ? "checked" : "") onclick="markAsComplete(@item.Id, this)">
                                @item.Name
                            </h5>
                            <p>@Html.Raw(@item.Description)</p>
                            <p>Due Date: @(item.DueDate.HasValue ? item.DueDate.Value.ToString("yyyy-MM-dd") : "No due date")</p>
                            <p>Type: @item.Type</p>
                        </li>
                    }
                </ul>
            }
            else
            {
                <p>No course items available.</p>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/coursedetails.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
}
