@model List<DegreePlanner.Models.CourseItem>

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                CourseItem List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="CourseItem" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Add CourseItem
            </a>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Course
                </th>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Due Date
                </th>
                <th>
                    Is Completed
                </th>
                <th>
                    Type
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderBy(u => u.Id))
            {
                <tr>
                    <td>@item.Course.Name</td>
                    <td>@item.Name</td>
                    <td>@Html.Raw(item.Description)</td>
                    <td>@item.DueDate?.ToString("yyyy-MM-dd")</td>
                    <td>@item.IsCompleted</td>
                    <td>@item.Type</td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="CourseItem" asp-action="Upsert" asp-route-id="@item.Id" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square">Edit</i>
                            </a>
                            <a asp-controller="CourseItem" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger mx-2">
                                <i class="bi bi-trash3-fill">Delete</i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
